html {
  scroll-behavior: smooth;
}
body {
  --body-bg-image: url('../assets/images/background.png');
  --header-font-color: #094563;
  --icon-filter: none;
  --navbar-mobile-color: #da9359;
  --light-dark-btn-content: url('../assets/images/light-btn.png');
  background-image: var(--body-bg-image);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  color: var(--header-font-color);
}

body.dark {
  --body-bg-image: url('../assets/images/dark-bg.png');
  --header-font-color: white;
  --icon-filter: brightness(0) invert(1);
  --navbar-mobile-color: rgba(255, 255, 255, 0.700);
  --inverted-btn-text-color: #2a2a2a;
  --light-dark-btn-content: url('../assets/images/dark-btn.png');
 
}

main {
  margin: 40px;
  text-align: center;
}
nav {
  white-space: nowrap;
  background: var(--navbar-mobile-color);
  height: 65px;
  position:sticky;
  top:0;
  z-index: 3;
}

ul {
  list-style: none;
  padding: 10px 55px 0;
}

li a {
  color: black;
  text-decoration: none;
  float: left;
  margin: 10px;
}

div {
  margin: 20px 0 0;
}
h1,
h2 {
  font-family: serif;
  font-size: 50px;
  font-weight: 600;
}
#git-logo,
#linked-logo,
#email-logo {
visibility: hidden;
}

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
}

#bio-container {
  background-color: rgba(255, 255, 255, 0.600);
  color: black;
  text-align: left;
  padding: 20px;
  font-size: 20px;
}

#contact-container img {
  margin: 10px;
  height: 50px;
  filter: invert();
  opacity: .8;
}

#contact-container :hover {
  filter: invert();
  transition: .4s;
}
#skills-container img {
  margin: 10px;
  opacity: .6;
  filter: var(--icon-filter);
}

#light-dark-button {
  content: var(--light-dark-btn-bg);
}

#light-dark-button::after {
 content: var(--light-dark-btn-content);
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  #git-logo,
  #linked-logo,
  #email-logo {
    visibility: visible;
    max-width: 30%;
    margin: 0 3px 0 0;
  }

  ul img:hover {
    filter: invert();
    opacity: .8;
    transition: .4s;
  }

  .card {
    margin: 30px 15px 0;
  }
  nav {
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.400);
    height: auto;
  }
  
  ul {
    list-style: none;
    margin: 0;
    position: sticky;
    top: 20px;
    padding: 50px 30px 0;
  }
  
  li a {
    display: block;
    color: black;
    margin-bottom: 40px;
    text-decoration: none;
    float: none;
  }
  
}

@media only screen and (min-width: 1100px) {
  
  #bio-container p {
    margin: 0 20px;
  }

  #bio-container {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1300px) {
  
  #image-coco{
    float: left;
    margin-left: 100px;
  }
  #bio-container p {
    margin: 0 20px;
  }

  #bio-container {
    margin-left: 400px;
    display: flex;
    justify-content: space-between;
  }
}