html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
}

nav {
  white-space: nowrap;
  background: grey;
}

nav > ul {
  list-style: none;
  margin: 0;
  position: sticky;
  top: 20px;
}

nav > ul > li > a {
  display: block;
  color: white;
  margin: 40px;
  text-decoration: none;
}

main {
  margin: 40px;
}
