html {
  scroll-behavior: smooth;
}
body {
  background-image: url('../assets/images/background.png');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  color: #023047;
}
nav {
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.400);
}

ul {
  list-style: none;
  padding: 50px 50px 0;
}

li a {
  color: black;
  text-decoration: none;
  float: left;
  margin: 10px;
}

main {
  margin: 40px;
  text-align: center;
}

div {
  margin: 50px 0 0;
}

#git-logo,
#linked-logo,
#email-logo {
visibility: hidden;
}


#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#bio-container {
  background-color: rgba(255, 255, 255, 0.400);
  color: black;
  text-align: left;
  padding: 20px;
}

#contact-container img {
  margin: 10px;
  height: 50px;
  
}


@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  #git-logo,
  #linked-logo,
  #email-logo {
    visibility: visible;
    max-width: 20%;
    /* height: auto; */
    margin: 0 5px;
  }

  #dropdownMenuButton {
    visibility: hidden;
  }

  .card {
    width: 250px;
    margin: 30px 15px 0;
  }
  nav {
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.400);
  }
  
  ul {
    list-style: none;
    margin: 0;
    position: sticky;
    top: 20px;
  }
  
  li a {
    display: block;
    color: black;
    margin: 40px;
    text-decoration: none;
    float: none;
  }
  
  
  
}

@media only screen and (min-width: 1024px) {
  #image-coco{
    float: left;
    margin-left: 100px;
  }
  
  #bio-container {
    width: 50%;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
  }
  #bio-container p {
    margin: 0 20px;
  }

  #bio-section {
  display: flex;
  justify-content: center;
  }

}